In [47]:
import pandas as pd
!pip install plotly

Requirement already satisfied: plotly in /Users/jacksonhamilton/opt/anaconda3/lib/python3.7/site-packages (4.9.0)
Requirement already satisfied: six in /Users/jacksonhamilton/opt/anaconda3/lib/python3.7/site-packages (from plotly) (1.14.0)
Requirement already satisfied: retrying>=1.3.3 in /Users/jacksonhamilton/opt/anaconda3/lib/python3.7/site-packages (from plotly) (1.3.3)

In [71]:
#Importing our CSV with pandas

df = pd.read_csv("/Users/jacksonhamilton/Documents/Data Analysis.nosync/Python/Data Sets/CFB2018completeISLR.csv")

In [72]:
df.head()

,Team,Year,Sagarin,Zsagarin,FrNbrRecruits,Fr5star,Fr4star,Fr3star,Fravg,Frpoints,...,z_lysagarin,tyasagarin,z_tyasagarin,retoff,retdef,qbret,bowl,bowlwin,coachexp_school,coachexp_total
0,Alabama,2007,79.26,0.201666,25,0,10,12,3.28,1789,...,-0.416816,84.31,0.669462,9,5,1,1,0,0,11
1,Arizona,2007,76.40,-0.128056,18,0,4,9,2.72,792,...,-0.128733,69.94,-0.816139,9,10,1,0,0,3,3
2,Arizona State,2007,84.35,0.788479,24,0,2,13,2.63,783,...,-0.045986,80.14,0.238358,10,6,1,1,0,0,18
3,Arkansas,2007,81.39,0.447228,27,0,4,17,2.93,1083,...,0.864234,70.97,-0.709655,6,4,1,1,0,9,14
4,Auburn,2007,84.42,0.796549,30,0,13,15,3.37,2013,...,1.148230,83.14,0.548505,5,7,1,1,1,8,12

In [73]:
#This serves as a list of all the original columns and their data type.

df.dtypes

Team                object
Year                 int64
Sagarin            float64
Zsagarin           float64
FrNbrRecruits        int64
Fr5star              int64
Fr4star              int64
Fr3star              int64
Fravg              float64
Frpoints            object
Sonbrrecruits        int64
So5star              int64
So4star              int64
So3star              int64
Soavg              float64
Sopoints            object
Jrnbrrecruits        int64
Jr5star              int64
Jr4star              int64
Jr3star              int64
Jravg              float64
Jrpoints            object
Srnbrrecruits        int64
Sr5star              int64
Sr4star              int64
Sr3star              int64
Sravg              float64
Srpoints            object
Rssrnbrrecruits      int64
Rssr5star            int64
Rssr4star            int64
Rssr3star            int64
Rssravg            float64
Rssrpoints          object
conference          object
lysagarin          float64
z_lysagarin        float64
tyasagarin         float64
z_tyasagarin       float64
retoff               int64
retdef               int64
qbret                int64
bowl                 int64
bowlwin              int64
coachexp_school      int64
coachexp_total       int64
dtype: object

In [74]:
# Dropping columns that we aren't interested in

df = df.drop(['bowl','bowlwin','coachexp_school','Frpoints','Sopoints','Jrpoints','Srpoints','Rssrnbrrecruits','Rssr5star','Rssr4star','Rssr3star','Rssravg'], axis=1)

In [77]:
# Provides us with the total number of rows and columns

df.shape

(857, 34)